$light-text: #f9f8f8;

.main_page {
  margin-top: 20px;
  padding: 20px 0;
}

.main_page__title {
  color: $light-text;
}

.main_page__wrapper,
.error_page__wrapper,
.profile_page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 0;
  margin-top: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-size: 50%;
}

.main_page__wrapper {
  .main_page__signup,
  .main_page__login {
    font-size: 1.2rem;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .welcome_text {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-size: 1.2rem;
}

.main_page__btn {
  margin-top: 15px;

  &:hover {
    color: lighten($color-accent, 10%);
  }
}

.logo_img {
  width: 100px;
  height: 100px;
}

.main_page__signup {
  text-align: center;
}
