@import '../../../styles/variables.scss';

.catalog-wrapper {
  max-width: 1360px;
  width: calc(100% - 2 * var(--outer-margin));
  display: grid;
  gap: $catalog-gap;
  margin: 0 auto;

  @for $i from 2 through 6 {
    @media screen and (min-width: calc($catalog-card-width * $i + $catalog-gap * ($i - 1) + $outer-margin * 2)) {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  .catalog-error {
    font-size: 20px;
    color: gray;
  }
}
