.profile_page__content_wrapper {
  font-size: 1rem;
  padding: 0 20px;

  .profile_page__add_address_button {
    margin: 0 auto;
  }

  .profile_page__info_column,
  .profile_page__address_column {
    text-align: center;
    margin: 0 10px;
  }

  .profile_page__info_column {
    display: flex;
    gap: 20px;
    text-align: left;
    flex-wrap: nowrap;
    margin-bottom: 40px;

    @media (max-width: 960px) {
      display: block;
    }
  }

  .profile_page__address_column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .profile_page__address_wrapper {
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      margin-right: 20px;
      transition: transform 0.5s ease;
      background-color: #f9f8f8;

      .profile_page__address {
        display: block;
      }

      &:hover {
        transform: scale(1.1);
      }

      &.default-billing,
      &.default-shipping {
        background-color: #feba3d;
        position: relative;
        z-index: 1;
      }

      span {
        cursor: pointer;
      }

      .profile_page__address_title {
        white-space: nowrap;
        margin-bottom: 40px;

        @media (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.profile_page__info_column label,
.profile_page__address_wrapper label {
  font-weight: bold;
}

.profile_page__address_title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #182541;
  margin-top: 10px;
}

.profile_page__default_label {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  text-align: center;
  font-style: italic;
}

.edit-button,
.save-button {
  box-sizing: content-box;
  padding: 4px;
  background-color: #e0dcdc;
  color: #323232;
  border-radius: 4px;
  transition: 0.2s;

  svg {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
  }
}

.profile_page__editable_field {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;

  @media (max-width: 960px) {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (max-width: 960px) {
  .profile_page__editable_field label,
  .profile_page__editable_field .profile_page__input,
  .profile_page__editable_field input {
    margin-right: 10px;
  }

  .profile_page__editable_field .edit-button {
    margin-left: auto;
  }

  .profile_page__editable_field input {
    flex: 1;
    min-width: 0;
  }
}

.profile_page__editable_field[data-warning]::after {
  content: attr(data-warning);
  display: block;
  color: rgb(219, 46, 46);
  font-style: italic;
  font-size: 14px;
  line-height: calc(14px + 2px);
  height: calc((14px + 2px) * 2);
  margin-top: 5px;
  bottom: -30px;
  left: 0;
  position: absolute;
}

.edit-button,
.save-button {
  background-color: transparent;
}

$color-warning: rgb(219, 46, 46);
$font-size-warning: 14px;
