@import './variables.scss';

.input-module {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-module::after {
  content: attr(warning);
  display: block;
  color: $color-warning;
  font-style: italic;
  font-size: $font-size-warning;
  line-height: calc($font-size-warning + 2px);
  height: calc(($font-size-warning + 2px) * 2);
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  font-size: 20px;

  input,
  button {
    font-size: inherit;
    padding: 5px;
  }

  label:has(input) {
    font-size: 16px;
    color: gray;
    align-self: start;
    display: flex;
  }

  button:last-of-type {
    margin-top: 20px;
  }
}
