@import './variables.scss';

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modal-window {
  width: min(360px, 96%);
  min-height: 200px;
  padding: 20px 2px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: $color-bg-light;
  border-radius: 5px;
  box-shadow: rgba(36, 36, 36, 0.6) 0 5px 10px;
  z-index: 2;

  p:first-child {
    width: min(300px, 100%);
    font-size: 20px;
    line-height: 1.6;
    color: $color-warning;
  }

  p:first-child.success {
    color: #5f8575;
  }

  p:nth-child(2) {
    width: min(250px, 100%);
    font-size: 16px;
    line-height: 1.2;
    color: #7f7f7f;
  }

  .close-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('../assets/cross.svg');
    background-size: contain;
    background-color: transparent;
    border: none;
  }
}
