@import './variables.scss';

.registration__form {
  font-size: 16px;
  input {
    padding: 5px;
    border: 1px solid #ffffff;
  }
  .input-invalid {
    border: 1px solid $color-warning;
  }

  input,
  select {
    line-height: 20px;
    border-width: 1px;
    border-color: gray;
  }

  .row-2,
  .row-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row-2 {
    gap: 20px;
  }

  .row-3 {
    gap: 10px;
  }
}

.input-module {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 0.9;
}

.input-module::after {
  content: attr(warning);
  display: block;
  color: $color-warning;
  font-style: italic;
  font-size: $font-size-warning;
  line-height: calc($font-size-warning + 2px);
  height: calc(($font-size-warning + 2px) * 2);
  margin-bottom: 10px;
}
.registration__address {
  min-width: 300px;
  padding-bottom: 10px;
  margin-bottom: 30px !important;
}

label input[type='checkbox'] {
  margin-right: 7px;
}

.row-3 {
  .input-module {
    width: 250px;
  }
}

.registration__country-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  width: 50%;
  padding-bottom: 45px;
}

.registration__country-title {
  line-height: 0.9;
}

.registration__country {
  box-sizing: content-box;
  padding: 5px;
}

.registration__submit {
  padding: 5px;
}
@media screen and (max-width: 767px) {
  form .registration__submit {
    width: 100%;
  }
}

fieldset,
legend {
  all: revert !important;
}
fieldset .row:nth-of-type(1) {
  padding-top: 15px;
}
