@import '../../styles/variables.scss';

.user-nav {
  display: flex;
  align-items: center;
  gap: 10px;

  .login-button,
  .logout-button,
  .signup-button,
  .user-profile,
  .cart-button {
    box-sizing: content-box;
    padding: 4px;
    // background-color: transparent;
    background-color: #e0dcdc;
    color: #323232;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      color: #5f8575;
    }
  }

  .cart-button {
    margin-left: 10px;
    position: relative;

    .cart-counter {
      position: absolute;
      top: -15px;
      right: -10px;
      min-width: 20px;
      height: 20px;
      padding: 1px 4px 0px 4px;
      display: grid;
      place-content: center;
      background-color: #feba3d;
      border-radius: 30px;
      font-size: 12px;
      font-weight: 700;
    }

    .cart-counter--hidden {
      display: none;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
  }

  @media screen and (max-width: $width-tablet-min) {
    button {
      padding: 2px;
    }

    svg {
      width: 26px;
      height: 26px;
    }
  }
}
