@import '../../../styles/variables.scss';

.product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7%;
  margin: 0 var(--outer-margin);
  padding: 20px;
  box-shadow: 0px 0px 5px #9b9b9b;
  border-radius: 10px;
  background-color: $color-bg-light;
}

.images-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 55%;
  min-width: 600px;
}

.main-image-wrapper {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .small-image-wrapper {
    margin: 3px;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #9f9f9f;

    .product__small-image {
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.product__image {
  max-width: 100%;
  height: auto;
  min-width: 500px;

  max-height: 100%;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 50%;
  min-width: 30%;
  border-radius: 10px;
  border: 1px solid #c7c6c7;
  padding: 15px;

  .product__description {
    flex-grow: 1;
  }

  .price-wrapper {
    text-align: right;
  }

  .old-price {
    text-decoration: line-through;
    font-weight: 400;
    color: #7e7e7e;
    margin-right: 10px;
    font-size: 22px;
  }

  .price {
    font-weight: 700;
    color: #4f6e61;
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .images-wrapper {
    min-width: 500px;
  }

  .main-image-wrapper {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  // .product-wrapper {
  //   gap: 30px;
  // }

  .images-wrapper {
    min-width: 400px;
  }

  .main-image-wrapper {
    width: 400px;
    height: 400px;
  }

  .product__image {
    min-width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .product-wrapper {
    gap: 20px;
  }

  .images-wrapper {
    min-width: 350px;
  }

  .main-image-wrapper {
    width: 350px;
    height: 350px;
  }

  .product__image {
    min-width: 350px;
  }

  .image-row {
    .small-image-wrapper {
      margin: 3px;
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (max-width: 675px) {
  .product-wrapper {
    flex-direction: column-reverse;
    justify-content: end;
  }

  .images-wrapper {
    margin: 0 auto;
    min-width: 100%;
  }

  .main-image-wrapper {
    margin: 0 auto;
  }

  .product__image {
    min-width: 350px;
    width: 100%;
    max-width: 100%;
  }

  .product-info {
    max-width: 100%;
  }
}

@media screen and (max-width: 535px) {
  .main-image-wrapper {
    width: 250px;
    height: 250px;
  }

  .product__image {
    min-width: 250px;
  }
}
