.footer {
  display: flex;
  margin: auto;
  padding: 20px 40px;

  .footer_contacts {
    border-right: 1px solid #1f1f3f;
    padding-right: 40px;
    margin-right: 40px;

    @media (max-width: 768px) {
      border-right: none;
      border-left: 1px solid #1f1f3f;
      align-self: end;
      width: 35%;
      padding-left: 20px;
    }

    @media (max-width: 299px) {
      border-right: none;
    }
  }

  .footer_info {
    @media (max-width: 768px) {
      border-right: 1px solid #1f1f3f;
    }
  }

  .contacts_title {
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .footer_info,
  .contacts_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer_info {
    @media (max-width: 768px) {
      width: 70%;
    }
  }

  .footer_title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    white-space: nowrap;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  .footer_logo {
    display: flex;

    .footer_logo-img {
      width: 50px;
      height: 50px;
    }

    .logo_text {
      font-size: 2.5rem;

      @media (max-width: 399px) {
        font-size: 2.2rem;
        margin: 8% 0 0 0;
      }
    }
  }

  .info_list {
    display: flex;
    gap: 15px;
  }

  .info_icon {
    width: 30px;
    height: 30px;
  }

  .footer_text {
    font-size: 16px;
    white-space: nowrap;

    @media (min-width: 400px) and (max-width: 768px) {
      font-size: 14px;
      padding-right: 20px;
    }

    @media (max-width: 399px) {
      font-size: 12px;
      padding-right: 20px;
    }
  }

  .footer_text.footer_description {
    white-space: wrap;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
