@import '../../../styles/variables.scss';

.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .empty-image {
    max-width: 150px;
  }

  .cart-is-empty {
    text-align: center;
    @media screen and (max-width: 450px) {
      max-width: 250px;
    }
  }

  .catalog-link {
    width: 100%;
    max-width: 170px;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #9b9b9b;
    background-image: linear-gradient(to bottom, #fedd9e, #feba3d);
    text-align: center;
  }
  .catalog-link:hover {
    color: #000;
    background-image: linear-gradient(to bottom, #fed68b, #feb329);
  }
}

.cart-title {
  width: 90%;
  border-bottom: 2px solid $color-border-dark;
  padding-bottom: 5px;
}

.cart__product-name,
.cart__product-price-total {
  font-weight: 600;
}

.cart__product-name,
.cart__product-price-total {
  font-size: 20px;

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.cart__product-price {
  font-size: 13px;
}

.quantity-container {
  display: flex;
}

.quantity,
.quantity-input {
  background-color: $color-bg-light;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid $color-bg-dark;
}

.quantity-input {
  width: 40px;
  padding-right: 0px;
}

.cart__product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  width: 90%;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-border-light;

  .cart__product-image {
    max-width: 180px;
    border-radius: 7px;

    @media screen and (max-width: 500px) {
      max-width: 120px;
    }
  }

  .cart__product-info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.total {
  width: 90%;
  text-align: right;
  border-bottom: 1px solid $color-border-dark;
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}
